### NetBeans ###
*/**/manifest.mf
*/**/build.xml
*/**/nbproject
*/**/nbbuild.xml
*/**/nbbuild.xml
nbproject/**/*
server_app/nbproject
server_app/build.xml
server_app/manifest.mf
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml



### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
/server_app/nbproject/private/
/app_server/nbproject/private/
/app_client/nbproject/private/
/Resytor_Server/nbproject/private/